.jspsych-content-wrapper {
    color: #000000;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    font-family: Helvetica, system-ui,
        -apple-system,
        Helvetica, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.visual {
    display: inline-block;
    margin: 5px;
    padding-top: 80px;
    width: 300px;
    text-align: center;
    height: 150px;
    background: #eeeeee;
    font-size: 50px;
    color: #000000;
    font-weight: 300;
}

.visual p {
    font-size: 17px;
    font-weight: 300;
}

.visual-play {
    display: inline-block;
    margin: 5px;
    padding-top: 80px;
    width: 300px;
    text-align: center;
    height: 150px;
    background: #d3d3d3;
    font-size: 50px;
    color: #000000;
    font-weight: 600;
}

.visual-play p {
    font-size: 17px;
    font-weight: 600;
}

.sv_main.sv_default_css input {
    border: 1px solid #000000;
}

.sv_main span, .sv_main.sv_default_css {
    color: #000000;
    font-size: 17px;
    font-weight: 300;
}

/* survey dropdown box style */
.sv_main.sv_default_css .sv_q_text_root, .sv_main.sv_default_css .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper .sv_q_dropdown_control {
    border-color: #000000;
    color: #000000;
    font-size: 17px;
    font-weight: 300;
}

/* survey button style
.sv_default_css button {
    color: #000000;
    background-color: #eeeeee;
}
*/

.jspsych-survey-multi-choice-option {
    font-family: Helvetica, system-ui,
        -apple-system,
        Helvetica, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #000000;
}

#instruction {
    margin-top: 5%;
}

#irb {
    margin-top: 0%;
    padding-top: 0%;
    text-align: justify;
}

#trial {
    margin-top: 0%;
    padding-top: 5%;
    text-align: center;
}

#input-0 {
    margin-left: 25vw;
}

.jspsych-survey-likert-statement {
    font: 17px;
    color: #000000;
    font-weight: 600;
}

.jspsych-survey-likert-opt-label {
    color: #000000;
}

button, .continue-btn,
.jspsych-btn, input[type="button" i] {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 45px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 4%;
    border-width: 0.1px;
    font-family: Helvetica, system-ui,
        -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.submit-btn {
    margin-left: 32vw;
    margin-bottom: 45px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 4%;
    border-width: 0.1px;
    font-family: Helvetica, system-ui,
        -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

input[type="text" i] {
  height: calc(2em + 1px);
  border: 1px solid #000000;
  font-size: 17px;
  color: #6d7072;
  padding-left: 5px;
}

p {
    font-family: Helvetica, system-ui,
        -apple-system,
        Helvetica, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

h3 {
    font-family: Helvetica, system-ui,
        -apple-system,
        Helvetica, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 500;
}

strong {
    font-weight: 600;
}

/* jsPsych progress bar */
#jspsych-progressbar-container {
    color: #555;
    font-family: Helvetica, system-ui,
        -apple-system,
        Helvetica, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #dedede;
    background-color: #f9f9f9;
    margin-bottom: 1em;
    text-align: center;
    padding: 8px 0px;
    width: 100%;
    line-height: 1em;
}

#jspsych-progressbar-container span {
    font-size: 14px;
    padding-right: 14px;
}

#jspsych-progressbar-outer {
    background-color: #eee;
    width: 50%;
    margin: auto;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#jspsych-progressbar-inner {
    background-color: #aaa;
    width: 0%;
    height: 100%;
}